# env
.env
*.env

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# DB & logs (keep folders but ignore contents)
db/*
!db/.gitkeep
logs/*
!logs/.gitkeep
*.db
*.sqlite*
*.log

# OS / editor
.DS_Store
*.swp
*.swo
